@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  max-width: 1292px;
  margin: 0 auto;
}

.fontBebas{
  font-family: 'Bebas Neue', sans-serif;
}